<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title>Create New Exercise - Lancer's Fitness</title>
</head>
<body>
<div class="top-bar">
    <h1>Lancer's Fitness</h1>
    <div class="account-actions">
        <a th:href="@{/userExercises}" class="btn btn-info">User Exercises</a>
        <a th:href="@{/dashboard}" class="btn btn-info">Dashboard</a>
        <a th:href="@{/account}" class="btn btn-info">Manage Account</a>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </div>
</div>

<div class="create-exercise-container">
    <h2 class="center-text">Create New Data Point</h2>

    <div class="form-container">
        <form action="/records/createDataPoint" method="post" class="centered-form">

            <label for="date">Date</label>
            <input type="text" id="date" name="date" th:field="${dataPoint.date}" required><br>

            <label for="value">Value</label>
            <input type="text" id="value" name="value" th:field="${dataPoint.value}" required><br>

            <!-- Use the recordId from the path variable -->
            <input type="hidden" id="recordId" name="recordId" th:value="${recordId}" required><br>

<!--            <label th:for="initialDataPoint">New Data Point</label>-->
<!--            <input type="text" th:field="${dataPoint.date}" required>Date<br>-->
<!--            <input type="text" th:field="${dataPoint.value}" required>Value<br>-->
<!--            <input hidden="" id="recordId" name="recordId" required><br>-->
            <!--            <textarea id="date" name="date" rows="1" required></textarea><br>-->
            <!--            <textarea id="value" name="value" rows="1" required></textarea><br>-->

            <button type="submit" class="btn btn-submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>