<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
    <title>Your Progress</title>
</head>
<body>
<div th:replace="~{fragments :: top-bar}" class="top-bar">
</div>
<div th:replace="~{fragments :: mini-guide}"></div>

<div>
    <p th:unless="${records} and ${records.size()}">You have no saved progress.</p>
    <div>
        <h2>Tracked Variables</h2>
        <ul class="no-bullets">
            <li th:each="record : ${records}" class="BigNBold">
                <a th:href="@{'/records/view/' + ${record.id}}" th:text="${record.name}" class="workout-entry"></a>
            </li>
        </ul>
        <a th:href="@{'/records/create'}"><button>Add Tracking Point</button></a>
        <a th:href="@{'/records/delete'}"><button>Delete Records</button></a>
    </div>
</div>
<div  class="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>
