<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1 th:text="${record.name}">No Title</h1>

<div>
    <table>
        <thead>
        <tr>
            <th>Data Point Id</th>
            <th>Value</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the data points and create a row for each -->
        <tr th:each="dataPoint : ${record.getDataPointsList()}">
            <td th:text="${dataPoint.id}"></td>
            <td th:text="${dataPoint.date}"></td>
            <td th:text="${dataPoint.value}"></td>
        </tr>
        </tbody>
    </table>
</div>


<a th:href="@{'/records/createDataPoint/' + ${record.id}}">Add Data Point</a>
<a th:href="@{'/records/index'}">Back to All Metrics</a>

</body>
</html>