<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<div class="top-bar">
    <h1 >Lancer's Fitness</h1>
</div>
<body>
<div class="confirmation-container">
    <h1>Account Deleted</h1>
    <p>Your account has been permanently deleted. We're sorry to see you go!</p>
    <a th:href="@{/}" class="btn btn-primary">Return to Home</a>
</div>
<div class="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>
