<!-- addToWorkout.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title>Add to Workout - Lancer's Fitness</title>
</head>
<body>
<div class="top-bar">
    <h1>Lancer's Fitness</h1>
    <div class="account-actions">
        <a th:href="@{/exercise/index}" class="btn btn-info">User Exercises</a>
        <a th:href="@{/dashboard}" class="btn btn-info">Dashboard</a>
        <a th:href="@{/account}" class="btn btn-info">Manage Account</a>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </div>
</div>

<div style="text-align: center;">
    <h2>Add to Workout</h2>


        <!-- Table for selected exercises -->
        <table border="1">
            <thead>
            <tr>
                <th>Select</th>
                <th>Exercise Name</th>
                <!-- Add more columns if needed -->
            </tr>
            </thead>
            <tbody>
            <tr th:if="${selectedExercises != null}" th:each="apiExercise : ${selectedExercises}">
                <td>
                    <!-- Checkbox for selecting exercises -->
                    <input type="checkbox" th:name="selectedExerciseNames" th:value="${apiExercise.name}" checked/>
                </td>
                <td th:text="${apiExercise.name}"></td>
                <!-- Add more columns if needed -->
            </tr>
            <tr th:if="${selectedExercises == null}">
                <td colspan="2">No exercises selected</td>
                <!-- Add more columns if needed -->
            </tr>
            </tbody>
        </table>

        <br/>
        <!-- Buttons for CRUD operations -->
        <button type="submit">Save to Workout</button>
        <button type="button" onclick="location.href='/workouts'">Cancel</button>
    </form>
</div>

<div class="footer" th:replace="fragments :: footer"></div>
</body>
</html>
