<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="top-bar">
    <h1>Lancer's Fitness</h1>
    <div class="account-actions">
        <a th:href="@{/userExercises}" class="btn btn-info">User Exercises</a>
        <a th:href="@{/account}" class="btn btn-info">Manage Account</a>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </div>
</div>
<section class="todays-exercises">
    <h2 class="exercise-description" >Ready to Sweat? Check Out Today's Exercise Plan!</h2>
    <a th:href="@{/current-exercise}" class="btn btn-primary dashboard-btn">View</a>
</section>

<div class="dashboard-container">
    <section class="dashboard-feature">
        <h2 class="feature-description">Explore a World of Workouts: Discover and Create Exercises Just For You!</h2>
        <img th:src="@{/images/exercise-search.png}" alt="Exercise Search" class="feature-image"/>
        <a th:href="@{/search}" class="btn btn-primary dashboard-btn">Search</a>
    </section>
    <section class="dashboard-feature">
        <h2 class="feature-description">Plan Your Power Moves: Personalize Your Exercise Calendar!</h2>
        <img th:src="@{/images/exercise-schedule.png}" alt="Exercise Schedule" class="feature-image"/>
        <a th:href="@{/schedule-exercises}" class="btn btn-primary dashboard-btn">Schedule</a>
    </section>
    <section class="dashboard-feature">
        <h2 class="feature-description">Celebrate Your Success: Track Your Fitness Journey and Celebrate Your Progress!</h2>
        <img th:src="@{/images/progress-tracking.png}" alt="Progress Tracking" class="feature-image"/>
        <a th:href="@{/records/index}" class="btn btn-primary dashboard-btn">Track</a>
    </section>
</div>
<section class="footerSpace"> </section>
<div class="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>
