<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<div class="top-bar">
    <h1 >Lancer's Fitness</h1>
</div>
<body>
<div class="confirmation-container">
    <h1>Password Changed Successfully</h1>
    <p>Your password has been updated. Please use your new password next time you log in.</p>
    <a th:href="@{/dashboard}" class="btn btn-primary">Return to Dashboard</a>
</div>
<div class="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>