<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="top-bar">
    <h1>Lancer's Fitness</h1>
</div>
<div class="content-wrap">
    <div class="registration-form-container">
        <h2 class="default">Register Your New Account</h2>
        <form th:action="@{/register}" method="post" th:object="${registerFormDTO}">
            <div class="form-group">
                <label class="form-group" for="userName">Username:</label>
                <input type="text" th:field="*{userName}" id="userName" class="form-control"/>
                <p class="error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
            </div>
            <div class="form-group">
                <label class="form-group" for="email">Email:</label>
                <input type="email" th:field="*{email}" id="email" class="form-control"/>
                <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <div class="form-group">
                <label class="form-group" for="password">Password:</label>
                <input type="password" th:field="*{password}" id="password" class="form-control"/>
                <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
            <div class="form-group">
                <label class="form-group" for="verifyPassword">Confirm Password:</label>
                <input type="password" th:field="*{verifyPassword}" id="verifyPassword" class="form-control"/>
                <p class="error" th:if="${#fields.hasErrors('verifyPassword')}" th:errors="*{verifyPassword}"></p>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
<div class="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>