<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:replace="~{fragments :: top-bar}" class="top-bar">
</div>

<div th:replace="~{fragments :: mini-guide}" class="mini-guide">
</div>
<h2 class="BigNBold" th:text="${exercise.getName}">No Title</h2>
<div>
    <p th:text="'Exercise Type: ' + ${exercise.getExerciseType}" class="exercise-entry1"></p>
    <p th:text="'Target Muscle/s: ' + ${exercise.getTargetMuscles}" class="exercise-entry1"></p>
    <p class="exercise-entry1" th:text="'Exercise Notes: ' + ${exercise.getExerciseNotes}"></p>
    <p class="inline"> Included in these workouts: </p>
    <ul>
        <li th:each="workoutb : ${exercise.workoutbs}">
            <a th:href="@{'/workouts/view/' + ${workoutb.id}}" th:text="${workoutb.name}"></a>
        </li>
    </ul>
</div>
<div class="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>