<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Lancer's Fitness</title>
</head>
<body>

<div class="top-bar">
    <h1>Lancer's Fitness</h1>
    <div class="account-actions">
        <a th:href="@{/userExercises}" class="btn btn-info">User Exercises</a>
        <a th:href="@{/dashboard}" class="btn btn-info">Dashboard</a>
        <a th:href="@{/account}" class="btn btn-info">Manage Account</a>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </div>
</div>

<div style="display: flex; justify-content: space-between; align-items: flex-start; padding: 20px;">
    <div style="width: 45%;">
        <h2>Create A New Workout</h2>

        <form action="/workouts/create" method="post">
            <label th:for="name">Name</label>
            <input type="text" id="name" name="name" required><br>

            <label th:for="workoutDescription">Workout Description:</label>
            <input type="text" id="workoutDescription" name="workoutDescription" required><br>

            <label th:for="workoutDetails">Workout Details</label>
            <textarea id="workoutDetails" name="workoutDetails" required></textarea><br>

            <div>
                <label th:for="exercises">Exercises: </label>
                <th:block th:each="exercise : ${exercises}">
                    <input type="checkbox" name="exercises" th:value="${exercise.id}">
                    <label th:text="${exercise.name}"></label>
                </th:block>
            </div>

            <input type="submit" value="Save Workout">
        </form>
    </div>
</div>

<div class="footer" th:replace="fragments :: footer"></div>

</body>
</html>
