<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Your Workouts</title>
</head>
<body>

<div th:replace="~{fragments :: top-bar}"></div>

<div th:replace="~{fragments :: mini-guide}"></div>
<div>
    <p th:unless="${workouts} and ${workouts.size()}">You have no saved workouts.</p>
    <div>
        <h2 th:if="${workouts} and ${workouts.size()}">Workouts</h2>
        <ul class="no-bullets">
            <li th:each="workoutb : ${workouts}" class="BigNBold">
                <a th:href="@{'/workouts/view/' + ${workoutb.id}}" th:text="${workoutb.name}" class="workout-entry"></a>
            </li>
        </ul>
        <div class="exercise-actions">
            <a th:href="@{'/workouts/create'}" ><button>Add Workout</button></a>
            <a th:href="@{'/workouts/delete'}"><button>Delete Workouts</button></a>
    </div>
    </div>

</div>

<div th:replace="fragments :: footer"></div>
</body>
</html>
