<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8">
    <title>Your Workouts</title>

</head>
<body>
<div th:replace="~{fragments :: top-bar}" class="top-bar">
</div>

<div th:replace="~{fragments :: mini-guide}" class="mini-guide">
</div>

<div class="main-content">
    <h2 class="BigNBold" th:text="${workoutb.name}">No Title</h2>

    <div class="exercise-details">
        <p th:text="${'Description: ' + workoutb.getWorkoutDescription}" class="exercise-entry1"></p>
        <p th:text="${'Details:  ' + workoutb.getWorkoutDetails}" class="exercise-entry1"></p>
        <p class="exercise-entry1">Exercises:</p>
            <th:block th:each="exercise : ${workoutb.exercises}">
                <a th:href="@{'/exercise/view/' + ${exercise.id}}" class="exercise-entry1" th:text="'- ' + ${exercise.getName}"></a>
            </th:block>

        <div class="exercise-actions">
            <a th:href="@{'/workouts/addExercise?workoutbId=' + ${workoutb.id}}"><button>Add Exercise</button></a>
            <a th:href="@{'/workouts/deleteExercise/' + ${workoutb.id}}"><button>Delete Exercise</button></a>
<!--            <a th:href="@{'/workouts/editWorkout/' + ${workoutb.id}}"><button>Edit Workout</button></a>-->
        </div>
    </div>
</div>

<section class="footerSpace"></section>
<div class="footer" th:replace="~{fragments :: footer}"></div>
</body>
</html>
